## NYC Sales Data Cleaner Notebook

This notebook cleans the NYC rolling sales data. Past years can be found  [from NYC Open Data](#https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i), This notebook organizes and saves the data to a .csv to be joined to other data sets in the 'Master DataFrame' notebook. 

**Notebook Contents**

> 1. Read in raw CSV selecting relevant columns. 
> 2. Join scraped data to this DataFrame, Extract and format it properly
> 3. Run zonebuilder function to organize lat/lon values into zones (see function docstring for more info)
> 4. Visualize on map, histogram, and export to CSV.

In [68]:
import pandas as pd
import numpy as np
import datetime as dt
import csv
import zonebuilder as zb

## 1. Read in CSV

The Sales data set has many columns that appear useful but are not. Reason being, many rows have nan values or are generally incomplete.

The end target is to either use 'SALE PRICE' or a 'Total Sales' value as my 'y'. 

Additionally, each year is broken into a seperate CSV for the Sales Data and must be loaded in each time and concatenated. A single year, 2016 is the target for this project, with additional years brought in, time permitting. 

Finally, an additional CSV file (URL_with_coordinates.csv) is read in from the Scraper notebook. This is the scraped data from google maps. The initial formatting of the Address + Zip Code rows is the input data for the scraper.

In [89]:
#import sales manhattan only year 2016, ~20000 rows.
df = pd.read_csv('./Sales_Manhattan/sales_manhattan_16.csv',usecols = ['ADDRESS','ZIP CODE', 'TOTAL UNITS','SALE PRICE','SALE DATE'])
df['DATE'] = df['SALE DATE']
df.drop('SALE DATE', axis = 1 , inplace= True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20486 entries, 0 to 20485
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ADDRESS      20486 non-null  object
 1   ZIP CODE     20486 non-null  int64
 2   TOTAL UNITS  20486 non-null  object
 3   SALE PRICE   20486 non-null  object
 4   DATE         20486 non-null  object
dtypes: int64(1), object(4)
memory usage: 800.4+ KB

In [90]:
df['ADDRESS'] = df['ADDRESS'].str.strip()
df['Full Address'] = df['ADDRESS'].str.cat(df['ZIP CODE'].astype(str), sep = ' ')
a_url = pd.DataFrame()
a_url['Full Address'] = df['Full Address'].unique()
a_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11482 entries, 0 to 11481
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Full Address  11482 non-null  object
dtypes: object(1)
memory usage: 89.8+ KB

In [91]:
with open('URL_with_Coordinates.csv', 'rt') as file:
    cin = csv.reader(file)
    urls = [row for row in cin]
urls = urls[0]

In [92]:
url_df = pd.DataFrame(zip(a_url['Full Address'], urls), columns = ['Full Address', 'urls'])

## 2. Join Scraped Data, Extract Location Data

The data coming from the scraper is a URL that contains the long/lat values. It is extracted here and formatted to join onto other data sets.

In [105]:
sales_df = df.join(url_df.set_index('Full Address'), on='Full Address')

In [106]:
sales_df.head(3)

,ADDRESS,ZIP CODE,TOTAL UNITS,SALE PRICE,DATE,Full Address,urls
0,EAST 29TH STREET,10016,-,-,11/9/16,EAST 29TH STREET 10016,https://maps.google.com/maps/api/staticmap?cen...
1,264 EAST 7TH STREET,10009,3,"7,738,700",12/22/16,264 EAST 7TH STREET 10009,https://maps.google.com/maps/api/staticmap?cen...
2,21 AVENUE B,10009,16,-,3/10/16,21 AVENUE B 10009,https://maps.google.com/maps/api/staticmap?cen...

In [107]:
#Kick out urls that didn't work. ~5
sales_df = sales_df[sales_df.urls.str.contains('&zoom=')].copy()

In [108]:
#confirm no outliers.
list(sales_df[~sales_df.urls.str.contains('&zoom=')].urls)

[]

In [109]:
#extract latitude from url
sales_df['lat'] = [ url.split('?center=')[1].split('&zoom=')[0].split('%2C')[0] for url in sales_df['urls'] ]

In [110]:
#extract longitude from url
sales_df['long'] = [url.split('?center=')[1].split('&zoom=')[0].split('%2C')[1] for url in sales_df['urls'] ]

## 3. Format Data for Join and Map Visualization

Format the Coordinates column to match other data sets for eventual join.

In [118]:
#combine long/lat under a single column, drop intermediate cols to get location data
sales_df['Latitude']=sales_df['lat'].astype(float).round(3)
sales_df['Longitude']=sales_df['long'].astype(float).round(3)
sales_df['Coords'] = list(zip(sales_df.Longitude, sales_df.Latitude))
sales_df.drop(['lat','long','Full Address', 'urls'], axis=1, inplace=True)
sales_df.head()

,ADDRESS,ZIP CODE,TOTAL UNITS,SALE PRICE,DATE,Latitude,Longitude,Coords
0,EAST 29TH STREET,10016,-,-,11/9/16,40.743,-73.980,"(-73.98, 40.743)"
1,264 EAST 7TH STREET,10009,3,"7,738,700",12/22/16,40.723,-73.978,"(-73.978, 40.723)"
2,21 AVENUE B,10009,16,-,3/10/16,40.722,-73.983,"(-73.983, 40.722)"
3,615 EAST 6TH STREET,10009,10,"6,350,000",4/20/16,40.724,-73.981,"(-73.981, 40.724)"
4,234 EAST 4TH STREET,10009,31,-,12/14/16,40.723,-73.983,"(-73.983, 40.723)"

In [175]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20479 entries, 0 to 20485
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ADDRESS      20479 non-null  object
 1   ZIP CODE     20479 non-null  int64
 2   TOTAL UNITS  20479 non-null  float64
 3   SALE PRICE   20479 non-null  float64
 4   DATE         20479 non-null  datetime64[ns]
 5   Latitude     20479 non-null  float64
 6   Longitude    20479 non-null  float64
 7   Coords       20479 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.0+ MB

In [178]:
mask = (sales_df.Latitude > 42) | (sales_df.Latitude < 40) | (sales_df.Longitude > -73) | (sales_df.Longitude < -75)

In [193]:
sales_df = sales_df.mask(mask).copy()
sales_df.dropna(inplace=True)
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20460 entries, 0 to 20485
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ADDRESS      20460 non-null  object
 1   ZIP CODE     20460 non-null  float64
 2   TOTAL UNITS  20460 non-null  float64
 3   SALE PRICE   20460 non-null  float64
 4   DATE         20460 non-null  datetime64[ns]
 5   Latitude     20460 non-null  float64
 6   Longitude    20460 non-null  float64
 7   Coords       20460 non-null  object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 1.4+ MB

/Users/jhg/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [ADDRESS, ZIP CODE, TOTAL UNITS, SALE PRICE, DATE, Latitude, Longitude, Coords]
Index: []

In [195]:
sales_df['SALE PRICE'] = sales_df['SALE PRICE'].replace(',','', regex=True)
sales_df['TOTAL UNITS'] = sales_df['TOTAL UNITS'].replace(',','', regex=True)
sales_df['SALE PRICE'] = sales_df['SALE PRICE'].replace('-','0', regex=True)
sales_df['TOTAL UNITS'] = sales_df['TOTAL UNITS'].replace('-','0', regex=True)
sales_df['SALE PRICE'] = sales_df['SALE PRICE'].astype(float)
sales_df['TOTAL UNITS'] = sales_df['TOTAL UNITS'].astype(float)
sales_df.head()

,ADDRESS,ZIP CODE,TOTAL UNITS,SALE PRICE,DATE,Latitude,Longitude,Coords
0,EAST 29TH STREET,10016.0,0.0,0.0,2016-11-09,40.743,-73.980,"(-73.98, 40.743)"
1,264 EAST 7TH STREET,10009.0,3.0,7738700.0,2016-12-22,40.723,-73.978,"(-73.978, 40.723)"
2,21 AVENUE B,10009.0,16.0,0.0,2016-03-10,40.722,-73.983,"(-73.983, 40.722)"
3,615 EAST 6TH STREET,10009.0,10.0,6350000.0,2016-04-20,40.724,-73.981,"(-73.981, 40.724)"
4,234 EAST 4TH STREET,10009.0,31.0,0.0,2016-12-14,40.723,-73.983,"(-73.983, 40.723)"

In [196]:
sales_df['DATE']=pd.to_datetime(df['DATE'])

In [205]:
sales_df['SALE COUNT'] = 1

,ADDRESS,ZIP CODE,TOTAL UNITS,SALE PRICE,DATE,Latitude,Longitude,Coords,SALE COUNT
0,EAST 29TH STREET,10016.0,0.0,0.0,2016-11-09,40.743,-73.980,"(-73.98, 40.743)",1
1,264 EAST 7TH STREET,10009.0,3.0,7738700.0,2016-12-22,40.723,-73.978,"(-73.978, 40.723)",1
2,21 AVENUE B,10009.0,16.0,0.0,2016-03-10,40.722,-73.983,"(-73.983, 40.722)",1
3,615 EAST 6TH STREET,10009.0,10.0,6350000.0,2016-04-20,40.724,-73.981,"(-73.981, 40.724)",1
4,234 EAST 4TH STREET,10009.0,31.0,0.0,2016-12-14,40.723,-73.983,"(-73.983, 40.723)",1

In [209]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20460 entries, 0 to 20485
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ADDRESS      20460 non-null  object
 1   ZIP CODE     20460 non-null  float64
 2   TOTAL UNITS  20460 non-null  float64
 3   SALE PRICE   20460 non-null  float64
 4   DATE         20460 non-null  datetime64[ns]
 5   Latitude     20460 non-null  float64
 6   Longitude    20460 non-null  float64
 7   Coords       20460 non-null  object
 8   SALE COUNT   20460 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 1.6+ MB

## 4. Mapping Data

The binning process has been modified from a script written to create a grid of 'zones' over Manhattan (zonebuilder.py in project folder), to a much quicker and more generalized approach of simply rounding down the lat/lon numbers to the nearest thousandth.

This creates a 'grid' of approximately 365.23FT East/West and 276.94FT North/South that all data points will fall into.

The reasoning for this came about by looking at a map of the values plotted  on the crime data set and noticing an emergent grid for each block. It looks like corner/mid block are hard coded 'options' when a police officer is logging a complaint. So despite the apparent high degree of precision seen in the DataFrame, there is a subset of unique combinations.

see raw plot below (data straight onto a map) + modified set to generalize across data sets (long/lat rounded to 3 decimal points)

In [206]:
sales_df.to_csv('2016sales.csv')

In [197]:
sales_df.describe()

           ZIP CODE   TOTAL UNITS    SALE PRICE      Latitude     Longitude
count  20460.000000  20460.000000  2.046000e+04  20460.000000  20460.000000
mean    9959.493011      2.762512  2.930787e+06     40.762227    -73.976637
std      836.412698     25.726442  2.644802e+07      0.030731      0.019822
min        0.000000      0.000000  0.000000e+00     40.697000    -74.018000
25%    10013.000000      0.000000  4.714775e+04     40.741000    -73.990000
50%    10019.000000      1.000000  7.150000e+05     40.762000    -73.979000
75%    10027.000000      1.000000  1.750000e+06     40.778000    -73.962000
max    10463.000000   1653.000000  1.932900e+09     40.878000    -73.909000

In [198]:
g_rnd_df = pd.DataFrame()
g_rnd_df = sales_df.groupby(['Coords']).sum()
g_rnd_df = g_rnd_df.reset_index()
g_rnd_df['Longitude'], g_rnd_df['Latitude'] = zip(*g_rnd_df.Coords)

In [208]:
g_rnd_df['SALE PRICE'].value_counts()

0.0           201
18000000.0      9
2000000.0       7
2100000.0       6
10.0            6
             ...
14527000.0      1
57059500.0      1
4511000.0       1
4740388.0       1
21037550.0      1
Name: SALE PRICE, Length: 2191, dtype: int64

In [200]:
import folium
from IPython.display import IFrame

nyc_map = folium.Map([40.78, -73.97], tiles = 'CartoDB positron')

for lat, long, sale in zip(g_rnd_df['Latitude'], g_rnd_df['Longitude'], 
                                         g_rnd_df['SALE PRICE']):

    folium.Marker( [lat, long], 
                       icon=folium.CustomIcon(icon_image='https://i.imgur.com/CYx04oC.png',
                                              icon_size=(10,10) ), popup='Sales '+str(sale)).add_to(nyc_map)

nyc_map.save('nyc_crime.html')
IFrame(src='nyc_crime.html', width='100%', height=500)