In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv

In [12]:
d = [*range(4,20)
d

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [31]:
m_df = pd.DataFrame()
for item in range(4,20):
    df = pd.read_csv('~/DATA/Sales_Manhattan/sales_manhattan_{}.csv'.format(item))
    df.dropna(axis=0, how='all', inplace=True)
    m_df = m_df.append(df, ignore_index = True)

In [37]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366293 entries, 0 to 366292
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   BOROUGH                         366293 non-null  float64
 1   NEIGHBORHOOD                    366293 non-null  object
 2   BUILDING CLASS CATEGORY         366293 non-null  object
 3   TAX CLASS AT PRESENT            366222 non-null  object
 4   BLOCK                           366293 non-null  float64
 5   LOT                             366293 non-null  float64
 6   EASE-MENT                       349134 non-null  object
 7   BUILDING CLASS AT PRESENT       366222 non-null  object
 8   ADDRESS                         366293 non-null  object
 9   APARTMENT NUMBER                357347 non-null  object
 10  ZIP CODE                        366222 non-null  float64
 11  RESIDENTIAL UNITS               350917 non-null  object
 12  COMMERCIAL UNITS                350917 non-null  object
 13  TOTAL UNITS                     350917 non-null  object
 14  LAND SQUARE FEET                351037 non-null  object
 15  GROSS SQUARE FEET               359146 non-null  object
 16  YEAR BUILT                      366222 non-null  float64
 17  TAX CLASS AT TIME OF SALE       366293 non-null  float64
 18  BUILDING CLASS AT TIME OF SALE  366293 non-null  object
 19  SALE PRICE                      349134 non-null  object
 20  SALE DATE                       366293 non-null  object
 21   SALE PRICE                     17159 non-null   object
dtypes: float64(6), object(16)
memory usage: 61.5+ MB

BOROUGH                           NaN
NEIGHBORHOOD                      NaN
BUILDING CLASS CATEGORY           NaN
TAX CLASS AT PRESENT              NaN
BLOCK                             NaN
LOT                               NaN
EASE-MENT                         NaN
BUILDING CLASS AT PRESENT         NaN
ADDRESS                           NaN
APARTMENT NUMBER                  NaN
ZIP CODE                          NaN
RESIDENTIAL UNITS                 NaN
COMMERCIAL UNITS                  NaN
TOTAL UNITS                       NaN
LAND SQUARE FEET                  NaN
GROSS SQUARE FEET                 NaN
YEAR BUILT                        NaN
TAX CLASS AT TIME OF SALE         NaN
BUILDING CLASS AT TIME OF SALE    NaN
 SALE PRICE                       NaN
SALE DATE                         NaN
Name: 17500, dtype: object